<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Повернення книг</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="navbar">
    <div class="menu-icon" onclick="openMenu()">&#9776;</div>
    <a href="/" class="navbar-title">Повернутись на головну сторінку</a>
</div>

<div id="sidebar" class="sidebar">
    <div class="sidebar-header">
        <button class="closebtn" onclick="closeMenu()">&times;</button>
        <span class="sidebar-title">Бібліотека</span>
    </div>
    <div class="sidebar-line"></div>
    <a href="/books" target="_self">Список наявних книг</a>
    <a href="/addbook" target="_self">Повернути книгу</a>
    <a href="/writeoff" target="_self">Списати книгу</a>
</div>

<div id="overlay" class="overlay" onclick="closeMenu()"></div>

<div class="content-wrapper">
    <h2 style="text-align: center;">Повернення книг</h2>

    <form th:action="@{/addbook}" method="post" class="form-container">
        <label for="title">Назва книги:</label>
        <input type="text" name="title" id="title" th:value="${title}" required>
        <button type="submit" name="action" value="check">Перевірити</button>
    </form>

    <div th:if="${notFound}" class="form-container">
        <form th:action="@{/addbook}" method="post">
            <input type="hidden" name="title" th:value="${title}">
            <label for="author">Автор:</label>
            <input type="text" name="author" id="author" required><br>
            <label for="year">Рік видання:</label>
            <input type="number" name="year" id="year" min="0" max="2100" required><br>
            <button type="submit" name="action" value="add" class="add-book-button">Додати книгу</button>
        </form>
    </div>

    <div th:if="${successMessage}" class="message">
        <p th:text="${successMessage}"></p>
    </div>
</div>



<script>
    function openMenu() {
        document.getElementById("sidebar").style.left = "0";
        document.getElementById("overlay").style.display = "block";
    }

    function closeMenu() {
        document.getElementById("sidebar").style.left = "-400px";
        document.getElementById("overlay").style.display = "none";
    }

    window.addEventListener('DOMContentLoaded', () => {
        const message = document.querySelector('.message');
        if (message) {
            setTimeout(() => {
                message.classList.add('fade-out');
            }, 3000);
            
            message.addEventListener('transitionend', () => {
                message.style.display = 'none';
            });
        }
    });



</script>

</body>
</html>
